{% extends "loginPage/baseLogin.html"%}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{% static 'js/forgotPassword.js' %}?{% now 'U' %}"></script>
    {% endblock%}
</head>

<body>
    {% block body %}
    <div class="container py-3">
        <p id="loginErrorMessage" class="hidden"></p>
        <div>
            <h1>Password has been reset!!</h1>
        </div>
        <div class="container text-center">
            <a href="..">Click here to login</a>
        </div>
    </div>
    {% endblock %}
    
</body>

</html>