{% extends "loginPage/baseLogin.html"%}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{% static 'js/forgotPassword.js' %}?{% now 'U' %}"></script>
    {% endblock%}
</head>

<body>
    {% block body %}
        <div class="container py-2">
            <p id="loginErrorMessage" class="hidden"></p>
            <div>
                <h1>Password Reset</h1>
            </div>
            <form id="resetPasswordEmail">
                <div class="form-text">
                    <p>Forgot your password?</p>
                    <h5>Enter your email to reset your password:</h5>
                </div>
                <div>
                    <label for="email" class="form-label">Email:</label>
                    <input class="form-control" type="text" id="email" name="email">
                </div>
                <div class="my-2">
                    <input class="btn btn-secondary" type="button" value="Reset my Password" onclick="sendPasswordEmail()">
                </div>
            </form>
            <div class="container text-center">
                <a class="" href="..">Click here to go back to the login page</a>
            </div>
        </div>
      
    {% endblock %}
</body>

</html>