{% extends "loginPage/baseLogin.html"%}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{% static 'js/forgotPassword.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'js/newPassword.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'js/register.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'js/cookies.js' %}?{% now 'U' %}"></script>
    {% endblock%}
    
</head>

<body>
    {% block body %}
    <div class="container py-2">
        <p id="loginErrorMessage" class="hidden"></p>
        <div>
            <h1>Reset your password here: </h1>
        </div>
        <form id="resetPasswordEmail">
            <div>
                <p>Enter a new password</p>
            </div>
            <div>
                <label for="password" class="form-label">Password:</label>
                <input class="form-control" type="password" id="password" name="password">
            </div>
            <div>
                <label for="repeatPassword" class="form-label">Repeat Password:</label>
                <input class="form-control" type="password" id="repeatPassword" name="repeatPassword">
            </div>
            <div class="my-2">
                <!-- use button so input fields aren't shown in users url -->
                <!--<input type="submit" onclick="sendPasswordEmail()">Reset my password</button><br><br> -->
                <input class="btn btn-secondary" type="button" value="Reset my Password" onclick="saveNewPass()">
            </div>        
        </form>
        <div class="container text-center">
            <a href="..">Click here to go back to the login page:</a>
        </div>
    </div>
    {% endblock %}
    
</body>

</html>