{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 id="topic">Leaderboard</h1>
        <table id="table">
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </table>
        <a href="/map/"><button id="home_button">Home</button></a>        
    </div>
    
</body>

<script src="{% static 'leaderboard.js' %}"></script>
</html>
