<!-- Written by Jacob -->
{% extends "homePage/toolbar.html"%}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <!--Personal css-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?{% now 'U' %}">-->
    <!--Global css-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">-->
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
    {% endblock %}
</head>
    <body>
        {% block content %}
        <div class="board-bg">
            <div class="container">
                <div class = "col-6 mx-auto">
                    <div class = "table-responsive style-board">
                        <div class="container text-center">
                            <h3>Your Position</h3>
                        </div>
                        <table class ="table table-hover table-sm border table-borderless" id="yourScore">
                            <tr class="table-secondary">
                                <!-- Start with just the headers for the columns -->
                                <th class="col-3">Position</th>
                                <th class="col-3">Name</th>
                                <th class="col-3">Score</th>
                            </tr>
                        </table>
                            
                    </div>
                    <div class = "table-responsive style-board mt-4">
                        <div class="container text-center">
                            <h3>Global Table</h3>
                        </div>
                        <table class ="table table-hover border" id="table">
                                <tr class="table-secondary">
                                    <!-- Start with just the headers for the columns -->
                                    <th class="col-3">Position</th>
                                    <th class="col-3">Name</th>
                                    <th class="col-3">Score</th>
                                </tr>
                        </table>   
                        <a href="/map/"><button class = "btn btn-outline-secondary">Exit</button></a> 
                    </div>
                    
                </div>
            </div>            
        </div>
        <script src="{% static 'js/leaderboard.js' %}?{% now 'U' %}"></script>
        {% endblock %}
    </body>
</html>
