{% load static %}

<!-- page written by Ruby Ham-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
        <!--<link rel="stylesheet" href="{% static 'css/mapStyles.css' %}?{% now 'U' %}">-->
        <script type="text/javascript" src="{% static 'js/map.js' %}?{% now 'U' %}"></script>
    </head>
<body class ="imageBack">
    {% include "homePage/toolbar.html"%}
    <div id="container" class="flex-container">
        <div class="text-box">
            <h1 class="group3">Welcome to EcoQuest Exeter!</h1>
        </div>
        <a href="/leaderboard/" class="topRightButtonLink">
            <button id="leaderboardButton" class="topRightButton button">Leaderboard</button>
        </a>
        <a href="javascript:void(0);" onclick="logOut()" class="topLeftButtonLink">
            <button id="logoutButton" class="topLeftButton button">Log out</button>
        </a>
        <a href= "/adminPage" class="topButtonLink">
            <button id="admin" class="topButton button">Admin</button>
        </a>        
    </div>

    <div class="box">
        <a class="button" href="#popup1" onclick="playmusic()">Click Here</a>
    </div>
    
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>The aim of the game</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Travel to all the locations on the map and answer the sustainable questions and quests to gain points and be top of the leaderboard.
            </div>
            <img src="{% static 'images/Goals.png' %}" class="centreV2" height="100" width="350">
        </div>
        
    </div>
    <div class="flex-container">
        <div class="text-box">1. DH1 <br> 2. Bus Stop <br> 3. Pond <br> 4. Student Health Centre  </div>
        <div class="map-container">
            <img src="{% static 'images/Map.png' %}" class="centreV2">
        </div>
        <div class="text-box">5. Bus Stop <br> 6. Centre for Resilience <br>in Environment, Water <br> and Waste <br> 7. Harrison Building <br> 8. Streatham Court  </div>
    </div>

    <button id ="myButton" class="bottomLeftButton" onclick="getLocation()">Click this button to find what location you are near.</button>
</body>
</html>