{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script type="text/javascript" src="{% static 'js/loginPage.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'js/cookies.js' %}?{% now 'U' %}"></script>
    <!--Personal css-->
    <!--<link rel="stylesheet" href="{% static 'css/LoginPage.css' %}?{% now 'U' %}">-->
    <!--Global css-->
    <link rel="stylesheet" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
    <!--Bootstrap added in manually as page doesn't include toolbar.html-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}?{% now 'U' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}?{% now 'U' %}"></script>
    
    
</head>

<body>
    <div id="content">
        <div>
            <p id="loginErrorMessage" class="hidden"></p>
            <h1>Login</h1>
            <!-- create form for users to login -->
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br> <br>

                <label for="passwd">Password:</label><br>
                <input type="password" id="passwd" name="passwd"> <br><br>
                Forgot password? <a href="password-reset-form">Reset Password </a><br><br>

                <!-- use button so input fields aren't shown in users url -->
                <input type="button" onclick="submitLogin()" value="Submit"> <br> <br>

            </form>

            <div id="options">
                Haven't signed up yet? <a href="Register">Click here to sign up</a><br>

            </div>
        </div>
    </div>
</body>

</html>