{% extends "loginPage/baseLogin.html"%}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <!--<link rel="stylesheet" href="{% static 'css/LoginPage.css' %}?{% now 'U' %}">-->
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{% static 'js/loginPage.js' %}?{% now 'U' %}"></script>
    {% endblock%}  
</head>

<body>
    {% block body %}
    <div>
        <div>
            <p id="loginErrorMessage" class="hidden"></p>
            <h1>Login</h1>
            <!-- create form for users to login -->
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br> <br>

                <label for="passwd">Password:</label><br>
                <input type="password" id="passwd" name="passwd"> <br><br>
                Forgot password? <a href="password-reset-form">Reset Password </a><br><br>

                <!-- use button so input fields aren't shown in users url -->
                <input type="button" onclick="submitLogin()" value="Submit"> <br> <br>
            </form>
            <div>
                Haven't signed up yet? <a href="Register">Click here to sign up</a><br>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>