{% extends "loginPage/baseLogin.html"%}
{% load static %}

<!DOCTYPE html>
<html>

<head>   
    <!--<link rel="stylesheet" href="{% static 'css/LoginPage.css' %}?{% now 'U' %}">-->
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{% static 'js/register.js' %}?{% now 'U' %}"></script>
    {% endblock%}   
</head>

<body>
    {% block body %}
        <div class="container py-2 loginBox">
            <span id="loginErrorMessage"></span>
            <div>
                <h2>Register</h2>
            </div>
            <!-- create form for users to register -->
            <form>
                <div>
                    <label for="username" class="form-label">Username:</label><br>
                    <input class="form-control" type="text" id="username" name="username">
                </div>
                <div>
                    <label for="email" class="form-label">Email:</label>
                    <input class="form-control" type="text" id="email" name="email">
                </div>
                <div>
                    <label for="passwd" class="form-label">Password:</label>
                    <input class="form-control" type="password" id="passwd" name="passwd"> 
                </div>
                <div>
                    <label for="rptpasswd" class="form-label">Repeat password:</label>
                    <input class="form-control" type="password" id="rptpasswd" name="rptpasswd"> 
                </div>
                <div class="my-2 text-center">
                     <!-- use button so input fields aren't shown in users url -->
                    <input class="btn btn-secondary" type="button" onclick="submitRegisteration()" value="Submit">
                </div>            
            </form>
            <div class="container form-text text-center">
                Already signed up?<a href=".."> Click Here</a>
            </div>
        </div>
    {% endblock %}
   
</body>

</html>