<!--Written by MF-->
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin</title>
        <script type="text/javascript" src="{% static 'js/adminPage.js' %}?{% now 'U' %}"></script>
        <!--Personal css-->
        <!--link rel="stylesheet" href="{% static 'css/adminStyles.css' %}?{% now 'U' %}"-->
        <!--Global css-->
        <link rel="stylesheet" href="{% static 'css/allStyles copy.css' %}?{% now 'U' %}">         
       
    </head>
    <body class ="colour">
        {% include "homePage/toolbar.html"%}
        <!--Title page-->
        <div>
            <div class = "container1">
                <div>
                    <h1 class="group1">Admin</h1>
                </div>
                <!--Action Buttons-->
                <div>
                    <button type="button" onclick="display2()"> Add Location</button>
                    <button type="button" onclick="window.alert('No Link Available')"> New Quest</button>
                    <button type="button" onclick="window.location.href='../../quiz/new/'">New Quiz</button>
                    <button type="button" onclick="display()"> User Authority</button>
                    <button type="button" onclick="window.location.href='../../map/'">Home</button>
                </div>
            </div>
            <br>
            <!--Display for user retrieval-->
            <!--TODO Add 'hidden' class to both containers -->
            <div>
                <div class = "container1 hidden" id = "display">
                    <div class = "section1">
                        <fieldset class = "hideBorder"> 
                            <label for="username"> Enter Username:</label>
                            <input type="text" id="username" name="username">
                            <input onclick = "findUser()" type="submit" value="Submit">
                        </fieldset>                
                    </div>
                    <div id = "results"></div>
                </div>
                <div class = " container1" id ="locDisplay">
                    <div id = "localized"></div>
                </div>
            </div>
           
        </div>
    </body> 
</html>