{% extends "homePage/toolbar.html"%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Game Test</title>
</head>
<body>
    {% block content %}
        <canvas id="canvas" width="400" height="300"></canvas>
        <script src="{% static 'framework.js' %}" type="module"></script>
        <script src="{% static 'logic.js' %}" type="module"></script>
    {% endblock %}
</body>
</html>
