/****/
/*====================================================================================================
    To use this css file place the following in the <head> tag
    <link rel="stylesheet" href="{% static 'css/allStyles.css' %}>

    CSS Layout
    * To maintain consistency for where tags are placed please follow the @RULES.
    * As the pages don't share a current theme make sure to create variations in common tags and declare which APPS(HTML) are using it for future use.
    * This file is likely to change as a theme is created and tags are merged together.
    *
    * @RULES:
    *   THEMES section is for all tags that are/will be used by more than one APPS(HTML). 
    *       THEMES is divided into <>STYLES for variations of specific tags.
    *       Comment which APPS(HTML) is using a tag when in the STYLES section
    *   <>PAGE sections is for all tags that are unique to the corresponding PAGE.
    *   If an element is declared, be mindful it will affect all APPS(HTML) therefore, it is recommended to declare an element joint with a class <element>.<class> e.g. h1.title .
    *   Some tag names may be similar, if so create name variations as to not affect other APPS(HTML).
    *   If more subsections are added follow current convention.
    *
    * Order of file: 
    * ------------
    * Themes
    *    Body Styles
    *    Container Styles
    *    Heading Styles
    *    Display Styles
    * Admin Page
    * Leaderboard & Quiz Page
    * Login Page
    * Map Page

    If these instructions are unclear and you don't want to risk making an error, simply change the css link to your personal one.
    Example: href="{% static 'css/adminStyles.css' %}
  ====================================================================================================*/

/* THEMES 
  ==================================================*/

/**BODY STYLES =================**/
/* USED BY \adminPage \loginPage \leaderboard \quiz*/
body.colour{
    background-color: rgb(207, 234, 166);
}
/* USED BY \map uni background*/
body.imageBack{
    background: url("../images/Exeter.jpeg");
    font-family: Arial, sans-serif;
    background-size: cover;
    height: 100vh;
}
/** CONTAINER STYLES =================**/
/*  USED BY \adminPage*/
.container1 {
    background-color: rgb(249, 242, 242);
    box-shadow: 0px 0px 5px green;
    text-align: center;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 30%; 
}
/*  USED BY \adminPage(button)*/
.container1 button {
    margin-top: 20px;
}
/*  USED BY \leaderboard \quiz*/
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 30px;
    margin: 65px 120px;
}
/** HEADING STYLES =================**/
/*  USED BY \adminPage*/
h1.group1 {
    margin-top: 50px; 
}
/*  USED BY \leaderboard \quiz*/
h1.group2 {
    padding: 20px 0;
}
/*  USED BY \map*/
h1.group3 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 10px 0;
}
/** DISPLAY STYLES =================**/
/*  Common tag used by multiple pages*/
.hidden{
    display: none;
}
/*  USED BY \loginPage */
.centreV1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: rgb(249, 242, 242);
    box-shadow: 0px 0px 5px green;
}
/*  USED BY \map */
.centreV2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
}
/* ADMIN PAGE
  ==================================================*/
#display {
    margin-top: 20px; 
}
fieldset.hideBorder{
    border: none;
}
/*For buttons in display*/
.action{
    margin-left: 3px;
    margin-right: 3px;
}
/* LEADERBOARD & QUIZ PAGE
  ==================================================*/
  .title {
    text-align: center;
    margin: 0 auto;
}
.top {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
ul.quizlist {
    list-style-type: none;
    padding: 0;
    padding-top: 8px;
    padding-right: 12px;
    margin: 0;
}
li.quizlistitem {
    margin: 0 0 10px 10px;
}
.smaller {
    font-size: 1.2em;
}
#save {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: lawngreen;
    border: solid 1px black;
    cursor: pointer;
}
#save:hover {
    background-color: limegreen;
}
#table {
    width: 100%;
    border-collapse: collapse;
}
#table td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}
#table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}
.choose {
    margin-left: 10px;
}
.correct {
    background-color: lawngreen;
}
#question {
    width: 400px;
}
/*  USED ONLY by \quizPage*/
.option {
    font-size: 1.3em;
}
.answerBox {
    size: F50;
    width: 200px;
}
.tight {
    margin: 0 !important;
    padding:0 !important;
}
#home_button {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: lawngreen;
    border: solid 1px black;
    cursor: pointer;
}
/* LOGIN PAGE
  ==================================================*/
.loginPage {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}
/* MAP PAGE
  ==================================================*/
.box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 5px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
.button {
    font-size: 1em;
    padding: 5px;
    color: #06D85F;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06D85F;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #06D85F;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}
.map-container {
    text-align: center;
}
.map-text {
    flex: 1; 
    padding: 20px; 
    font-family: Tahoma, Arial, sans-serif;
    color: #fff;
    font-size: 25px;
}
.map-image {
    flex: 2; 
    height: 65%; 
    height: 65%; 
    margin: 0 20px; 
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    font-size: 25px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}
.bottomLeftButton {
    position: fixed; /* Position the button relative to the viewport */
    bottom: 20px; /* Distance from the bottom of the viewport */
    left: 20px; /* Distance from the left of the viewport */
    padding: 20px; /* Padding inside the button */
    background-color: #06D85F; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 24px;
}
.topRightButton {
    position: fixed; /* Fixed position */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    z-index: 1000; /* Ensure it sits on top of other content */
}
.map-button {
    padding: 10px 20px;
    background-color: #06D85F; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.topLeftButton {
    position: fixed; /* Fixed position */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the right */
    z-index: 1000; /* Ensure it sits on top of other content */
}
.topButton{
    position: fixed; /* Fixed position */
    top: 20px; /* Distance from the top */
    right: 150px;
    z-index: 1000; /* Ensure it sits on top of other content */
}





















