/*====================================================================================================
Order of file: 
    * ------------
    * Login Page Themes
    * Website Themes
    *   All styles
    *   Navbar Styles
    *   Background Styles
    *   Quiz & Quest Styles
    *   Leaderboard Styles
    *   Admin Styles
  ====================================================================================================*/


/* LOGIN PAGE THEMES
  ==================================================*/
/* background image*/
body.login-bg{
    width: 100vw;
    height: 100vh;
    background-image:url('../images/bg-circle3.png');
    background-size: cover;
    
}
/*all themes are registered under loginBox*/
/*loginBox acts as a container for all loginPage apps*/
.loginBox{
    /*due to error message setting minimum value so it is contained*/
    min-width: 22em;
    border-radius:15px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.4);
    background: rgb(249, 242, 242);
}

.loginBox h2 {
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;  
}

.loginBox a{
    text-decoration: none;
}

.loginBox a:hover{
    text-decoration: underline;
}

.loginBox .alert{
    font-size:12px;
    font-weight: 600;
}
/* WEBSITE THEMES
  ==================================================*/
/** ALL STYLES =================**/
.hidden{
    display: none;
}

.space-gap{
    padding-top: 3.5em;
}
/** NAVBAR STYLES =================**/
.toolbar nav{
    background: linear-gradient(0deg, rgb(39, 89, 121) 0%,rgba(48, 119, 163,1) 99%);
}

.toolbar nav .navbar-brand{
    border-right: 2px solid rgba(0,0,0,0.1);
    padding-right: 10px;
}
.toolbar nav .navbar-brand:hover{
    color: rgb(205, 205, 205);
}

.toolbar nav ul{
    background-color: rgb(47, 110, 149);
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.05);
}

.toolbar nav li{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 400;
}

.toolbar nav li a{
    color: rgb(208, 208, 208);
}

.toolbar nav li a.active{
    font-weight: 600;
}

.toolbar nav li a:hover{
    color: white;
}
ul.dropdown-menu li a.dropdown-item:hover{
    background-color: rgb(47, 97, 128);
    border-radius:10px;
}
/*--- Navbar Card styles ---*/
.toolbar .card{
    border-radius: 0px;
    background-color:rgb(39, 89, 121);
    padding:10px;
    position: absolute;
    width:100vw;
}

.toolbar .card .c-center{
    background-color: white;
}

.toolbar .card h1{
    font-weight: 350;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.toolbar .card h5{
    font-size: 22spx;
}

/** BACKGROUND STYLES =================**/
.logo-bg{
    background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('../images/Untitled.png');
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
}

.image-bg {
    background-image:url('../images/bg-circle5.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
} 

 @media screen and (min-width: 990px) {
    .image-bg{
        background-image:url('../images/bg-circle3.png');
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 40px;
    }
 }

.board-bg{
    background-image:url('../images/exeter-Map-Edited.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}
/** QUIZ & QUEST STYLES =================**/
.exit-button{
    margin-top: 15px;
}
.exit-button button{
    border:2px solid rgb(0,0,0,0.4);
    font-size: 32px;
    font-weight: 700;
    font-family: 'consolas';
}

.exit-button button:hover{
    border:2px solid rgb(0,0,0,0.4);
    text-decoration: underline;
}
/** LEADERBOARD STYLES =================**/
.style-board{
    padding:5px 10px 5px 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.4);
    border: 1px solid black;
}

.style-board h3{
    font-size: 38px;
    font-weight: 400;
}

/** ADMIN STYLES =================**/

.sidebar{
    background-color:rgb(48, 119, 163);
    padding-top: 10px;
    border-right: 2px solid rgba(0,0,0,0.3);
    height:100vh;
}

.sidebar .options{
    background-color:rgb(47, 110, 149);
    border-radius: 10px;
    margin-left:10px;
    margin-right:10px;
    border: 1px solid rgba(0,0,0,0.05);
}

.sidebar button{
    color:white;
    padding-left: 60px;
    white-space: nowrap
}

.sidebar button:hover{
    color:rgb(194, 194, 194);
}

.sidebar button.nav-link.active{
    font-weight: 600;
    background-color: rgb(47, 97, 128);
}

.topbar{
    background-color: rgb(48, 119, 163) ;
    border-bottom:1px solid rgb(0,0,0,0.8);
}

.topbar ul{
    background-color:rgb(47, 110, 149);
    border-radius: 10px;
    margin-bottom:10px;
    border: 1px solid rgba(0,0,0,0.05);
}

.topbar .nav-item a{
    color:rgb(194, 194, 194);
}

.topbar .nav-item a:hover{
    color:white;
}

.topbar .nav-item a.active{
    background-color: rgb(47, 97, 128);
    font-weight: 600;
}

td button.btn{
    margin: 2px;
}

.btn.choose{
    border:1px solid rgb(0,0,0,0.4);
    margin-bottom:2px;
}

.correct { 
    background-color: lawngreen;
}


