<!-- Written by Ruby -->
{% extends "homePage/toolbar.html"%}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Quest</title>
    <!--Personal css-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?{% now 'U' %}">-->
    <!--Global css-->
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
    {% endblock %}
    
    
</head>
<body>
    {% block content %}
        <div class="text-start image-bg">
            <div class = "container">
                <h2 class = "d-flex" id="topic"></h2> <!-- Content added by quest.js -->
                <h5 class = "d-flex" id="place"></h5> <!-- Content added by quest.js -->
            </div>
            <div>
                <div class = "container text-start">
                    <h1 class = "fw-normal display-2 d-inline" id="score"></h1> <!-- Content added by quest.js -->
                </div>
                <div class = "container">
                    <h5 class="text-start " id="question_text"></h5> <!-- Content added by quest.js -->
                </div>  
            </div>
            <div class="container">
                <button class = "btn btn-primary " type="button" id="save" onclick="window.location.href='/map/'">Completed</button> <!-- If you are finished with the quiz or wish to return you can go back to the map page-->    
            </div>
        </div>
        <script src="{% static 'js/quest.js' %}?{% now 'U' %}"></script>
    {% endblock %}
</body>


</html>

