<!DOCTYPE html>
<html lang="en">
    <head>
        {%load static%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap links-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}?{% now 'U' %}">
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}?{% now 'U' %}"></script>

        <link rel="stylesheet" href="{% static 'css/allStyles.css' %}?{% now 'U' %}">
        <script type="text/javascript" src="{% static 'js/globalfunctions.js' %}?{% now 'U' %}"></script>        
        {% block style %}
        {% endblock %}
        {% block script %}
        {% endblock %}
        
    </head>
    <body >
        <div class="text-center toolbar">
            <nav class="navbar navbar-expand-lg" data-bs-theme="dark" id="bar">
                <div class="container-fluid">
                    <a class="navbar-brand" onclick="playMusic()" data-bs-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseAbout">EcoQuest</a>
                    <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link bar" href="/map/">Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bar" href="/leaderboard/">Leaderboard</a>
                            </li>
                            <li class="nav-item" id = "admin">
                                <a class="nav-link bar" href="/adminPage/">Admin</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#dropCard" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Account
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" id="dropCard">
                                  <li><a class="dropdown-item"  onclick="deleteUser()">Delete Account</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" onclick="logOut()" href="/login/">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="collapse" id="collapseAbout">
                <div class="card card-body">
                    <div class="c-center logo-bg">
                        <div class="container" id="sound">
                            <h1 class="display-3">Welcome to EcoQuest Exeter!</h1>
                        </div>
                        <div class="container pt-3">
                            <div class="row align-items-start">
                                <div class="col text-lg-start ps-lg-5">
                                    <h5>Aim of the game</h5>
                                    <p>Travel to all the locations on the map and answer the sustainable questions and quests to gain points and be top of the leaderboard.</p>
                                    <p>To find out more about us <a href="/map/about/">Click Here</a></p>
                                    <h5>Our Data Policy</h5>
                                    <p>To learn how we use your data <a href="/map/about/#GDPR">Click Here</a></p>
                                </div>
                                <div class="col text-lg-start">
                                    <img src="{% static 'images/Goals.png' %}" height="200" width="350">
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>