<!-- Written by Jacob -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> <!-- Link the css -->
</head>
<body>
    <div class="container">
        <h1 id="topic"></h1> <!-- Content added by quiz.js -->
        <h1 id="place" class="smaller tight"></h1> <!-- Content added by quiz.js -->
        <div class="top">
            <h1 id="score"></h1> <!-- Content added by quiz.js -->
            <h1 id="questionNum"></h1> <!-- Content added by quiz.js -->
        </div>
        <h1 id="question_text"></h1> <!-- Content added by quiz.js -->
        <ul>
            <li class="option"><label id="op1"></label></li> <!-- Content added by quiz.js -->
            <li class="option"><label id="op2"></label></li> <!-- Content added by quiz.js -->
            <li class="option"><label id="op3"></label></li> <!-- Content added by quiz.js -->
        </ul>
        <button id="save" onclick="window.location.href='/map/'">Exit</button> <!-- If you are finished with the quiz or wish to return you can go back to the map page-->
    </div>
</body>

<script src="{% static 'quiz.js' %}"></script>
</html>

